<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AddAdminRegister</display-name>
    <servlet-name>AddAdminRegister</servlet-name>
    <servlet-class>AddAdminRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminRegister</servlet-name>
    <url-pattern>/AddAdminRegister</url-pattern>
  </servlet-mapping>
  <display-name>20mcme22_DBMSLab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserRegister</display-name>
    <servlet-name>AddUserRegister</servlet-name>
    <servlet-class>AddUserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserRegister</servlet-name>
    <url-pattern>/AddUserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_User_Login</display-name>
    <servlet-name>Check_User_Login</servlet-name>
    <servlet-class>Check_User_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_User_Login</servlet-name>
    <url-pattern>/Check_User_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_Admin_Login</display-name>
    <servlet-name>Check_Admin_Login</servlet-name>
    <servlet-class>Check_Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_Admin_Login</servlet-name>
    <url-pattern>/Check_Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewEvent</display-name>
    <servlet-name>AddNewEvent</servlet-name>
    <servlet-class>AddNewEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewEvent</servlet-name>
    <url-pattern>/AddNewEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvent</display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventsServlet</display-name>
    <servlet-name>EventsServlet</servlet-name>
    <servlet-class>EventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventsServlet</servlet-name>
    <url-pattern>/EventsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Event</display-name>
    <servlet-name>Event</servlet-name>
    <servlet-class>Event</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event</servlet-name>
    <url-pattern>/Event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eventmethods</display-name>
    <servlet-name>Eventmethods</servlet-name>
    <servlet-class>Eventmethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eventmethods</servlet-name>
    <url-pattern>/Eventmethods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionFactory</display-name>
    <servlet-name>ConnectionFactory</servlet-name>
    <servlet-class>ConnectionFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionFactory</servlet-name>
    <url-pattern>/ConnectionFactory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cateveservlet</display-name>
    <servlet-name>cateveservlet</servlet-name>
    <servlet-class>cateveservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cateveservlet</servlet-name>
    <url-pattern>/cateveservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTickets</display-name>
    <servlet-name>BookTickets</servlet-name>
    <servlet-class>BookTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTickets</servlet-name>
    <url-pattern>/BookTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventBook</display-name>
    <servlet-name>EventBook</servlet-name>
    <servlet-class>EventBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventBook</servlet-name>
    <url-pattern>/EventBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookings</display-name>
    <servlet-name>DisplayBookings</servlet-name>
    <servlet-class>DisplayBookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookings</servlet-name>
    <url-pattern>/DisplayBookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDelete</display-name>
    <servlet-name>EventDelete</servlet-name>
    <servlet-class>EventDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDelete</servlet-name>
    <url-pattern>/EventDelete</url-pattern>
  </servlet-mapping>
</web-app>